/* appearance styles */

.entry-signature{
    font-family: 'VivaldiD';
    float: right;
}

.entry-signature span {
   font-size: 130%; 
}


#journal {
    font-family:'Lora', serif;
    font-size: large;
    border: #000 double;
    width: 80%;
    height: auto;
    text-align: left;
    margin: 0 auto;
}

.entry-footer {
    font-weight: bold;
    text-align: center;
}

.journal-years {
    float: left;
    width: 50%;
    padding-top:100px;
}

.books-page {
    width: 100%;
    padding-top: 20px;
    /*padding-left: 230px;*/
}
