/* general page style */
/*html {
    min-height: 100%;
    position: relative;
}*/

html, body {
    font-size: larger;
    color: #000;
    font-family:'Lora', serif;
    background-image: url("../images/brushedsteel5.jpg");
    background-color: #eee;
    background-repeat: no-repeat;
    margin:0;
	padding:0;
	height:100%;
}

.main {
    width: auto;
    margin: 0 auto;
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.container {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: auto;
    /*position: relative;
    height: 100%;*/
}

.content {
   overflow: auto;
   padding-bottom: 20px;
}

.keep-it-together {
    overflow: auto;
}

a {
    text-decoration: none;
}

a:hover {
    color: #ff0;
    text-decoration: underline;
}

/*header {
    position: relative;
}*/

/*.header-container {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
}*/

.header {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    font-family: "lucida calligraphy",arial,'sans serif';
    margin-bottom: 10px;
}

.small-header {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    font-family: "lucida calligraphy",arial,'sans serif';
    margin-bottom: 10px;
}

.small-header-red {
    font-size: x-large;
    font-weight: bold;
    color: #9F000F;
    text-align: center;
    font-family: "lucida calligraphy",arial,'sans serif';
    margin-bottom: 10px;
}

.smaller-header {
    font-size: large;
    font-weight: bold;
    text-align: center;
    font-family: "lucida calligraphy",arial,'sans serif';
    margin-bottom: 10px;
}

.smaller-header-red {
    font-size: large;
    font-weight: bold;
    color: #9F000F;
    text-align: center;
    font-family: "lucida calligraphy",arial,'sans serif';
    margin-bottom: 10px;
}

.smaller-header-w-logo {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.smaller-header-wordman {
    font-size: large;
    font-weight: bold;
    text-align: center;
    font-family: "lucida calligraphy",arial,'sans serif';
    margin-bottom: 10px;
    width: auto;
}

.smallest-header {
    font-size: medium;
    font-weight: bold;
    text-align: center;
    font-family: "lucida calligraphy",arial,'sans serif';
    margin-bottom: 10px;
}

.extra-small-header {
    font-size: small;
    font-weight: bold;
    text-align: center;
    font-family: "lucida calligraphy",arial,'sans serif';
    margin-bottom: 10px;
    float: left;
}

.extra-small-header img{
    float: left;
}

.eric-koch {
   font-size: 225%;
    font-weight: bold;
    text-align: center;
    font-family: 'VivaldiD';
    margin-bottom: 10px; 
}

/* span tags */

.italic {
    font-style: italic;
}

.vivaldi {
    font-family: 'VivaldiD';
}

.large {
    font-size: 130%;
}

.larger {
    font-size: 200%;
}

.medium {
    font-size: 175%;
}

.small {
    font-size: small;
}

/* end span tags */
/* end pages style */

/* navigation*/
#menu {
    background: none;
    padding: 0;
}

#menu ul {
    background: none;
}

.nav {
    text-align: center;
    margin-bottom: 20px;
}

.nav ul {
    font-weight: bold;
    list-style: none;
    font-size: 11pt;
    font-family:'Lora', serif;
    color: #000;
}
    
.nav li {
    display: inline;
    text-decoration: none;
    font-size: 11pt;
    color: #000;
    margin: 0 10px 0 10px;
}

.nav a {
    color: #000;        
}

.nav a:hover {
    color: #FF0;
}
/* end navigation */

/* photos/images */
.image-border {
    text-align: center;
}

.image-border img {
    border: double #000;
    padding: 5px;
}
/* end photos */

/* text */
.p {
   font-family:'Lora', serif;
   color: #000;
   font-size: medium;
   text-align: left;
   float: left;
   padding: 20px 0 0 40px;
}

.p span {
    font-size: 130%;
}

.p-book {
   font-family:'Lora', serif;
   font-size: large;
   text-align: left;
   float: left;
   padding: 20px 0 0 40px;
}
/* end text */

/* credits */
.p-credit {
   width: 80%;
   font-style: italic;
   font-size: medium;
   text-align: right;
}

.p-credit-river {
   width: 50%;
   font-style: italic;
   font-size: medium;
   text-align: right;
   float: right;
   padding-right: 20px;
   padding-top: 20px;
}

.p-credit-mirror {
   width: 50%;
   font-style: italic;
   font-size: medium;
   text-align: right;
   float: right;
   padding-right: 380px;
   padding-top: 30px;
}
/* end credits */

.tagline{
    text-align: left;
    /*margin-left: 25%;*/
    font-style: italic;
}

.tagline span {
    font-size:larger;
}

.tagline-right {
    text-align: right;
    margin-right: 30%;
    font-style: italic; 
}

.copyright {
    font-family:'Lora', serif;
    font-size: smaller;
    text-align: center;
    padding-top: 20px;
}

.copyright span {
    font-family: 'VivaldiD';
}

text-p::first-letter {
    font-size: 130%;
    color: #000;
}

/* about */
.bio {
    font-family:'Lora', serif;
    font-size: large;
    width: 58%;
    /*margin: 0 auto;*/
    text-align: left;
    float: left;
    padding-left: 20px;
}

.bio-para {
    margin-bottom: 10px;
}
 /* end about */
 
.logo {
    /*float: left;*/
    position: absolute;
    left: auto;
    top: auto;
    padding-left: 75px;
    margin: 5px 0 0 0;
}

/* margins */
.margin-rt5 {
    margin-right: 5px;
}
/* end margins */

/* footer */
.footer {
    font-size: small;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 20px;
}

.footer span {
    font-size: 130%;
}
/* end footer */

/* alignment */
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center-sholama {
    text-align: center;
    margin-bottom: 20px;
    font-size: large;
}

.text-center-river{
    text-align: center;
    margin-bottom: 20px;
    font-size: large;
}

.center {
    /*width: 50%;*/
    text-align: center;
    padding-left: 200px;
}
/* end alignment */

/* books */
.books-nav {
    width: 50%;
    text-align: left;
    overflow: auto;
    float: left;
    padding-bottom: 40px;
}

.books-nav a {
    color: #000;        
}

.books-nav a:hover {
    color: #FF0;
    text-decoration: underline;
}

.books-nav ul {
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
    font-size: 11pt;
    font-family:'Lora', serif;
    color: #000;
    padding: 0 0 0 20px;
}
    
.books-nav li {
    text-decoration: none;
    font-size: 11pt;
    color: #000;
    margin: 10px;
    border: solid 1px #ccc;
    padding: 10px;
}

.books-nav a {
    color: #000;        
}

.series {
    font-size: small;
    font-family:'Lora', serif;
    text-align: center;
    float: left;
    margin: auto;
}

.book-title {
    font-family: "lucida calligraphy",arial,'sans serif';
    text-align: left;
    float: right;
    margin: auto;
}

.name {
    font-size: large;
    font-weight: bold;
    text-align: center;
    font-family: "lucida calligraphy",arial,'sans serif';
    float: left;
}

.images {
    width: 30%;
    display: inline;
    padding-bottom: 15px;
}

.series-pic {
    text-align: left;
    padding-left: 50px;
    float: left;
}

.series-pic-books {
    text-align: left;
    padding: 50px 0 40px 50px;
    float: left;
}

.series-pic-tree {
    text-align: right;
    padding: 50px 0 40px 50px;
    float: left;
}

.series-pic-iftmus {
    text-align: left;
    padding-left: 118px;
    float: left;
}

.series-pic-dreams-like-mist {
    text-align: left;
    padding-left: 50px;
    padding-top: 15px;
    float: left;
}

.series-pic img {
    border: double #000;
    padding: 5px;   
}

.series-pic-iftmus img {
    border: double  #000;
    padding: 5px;
}

.series-pic-dreams-like-mist img{
    border: double  #000;
    padding: 5px;
}

.series-pic-about-top {
    text-align: left;
    float: left;
    padding-left: 20px;
    padding-top: 60px;
}

.series-pic-about-bottom {
    float: right;
    padding-top: 270px;
    padding-right: 20px;
}

.series-pic-about-top img {
    border: double  #000;
    padding: 5px;   
}

.series-pic-about-bottom img {
    border: double #000;
    padding: 5px;   
}

.series-pic-books img {
    border: double #000;
    padding: 5px;   
}

.series-pic-construction {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.series-pic-construction img {
    border: double #000;
    padding: 5px;   
}

.series-text {
    font-family:'Lora', serif;
    font-size: medium;
    text-align: left;
    padding-left: 200px;
    float: left;
    margin: auto;
    overflow: auto;
    padding-top: 15px;
}

.series-text-book-iftmus {
    font-family:'Lora', serif;
    font-size: large;
    text-align: left;
    padding-left: 40px;
    float: left;
    margin: auto;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 65%;
}

.series-text-book-prologue {
    font-family:'Lora', serif;
    font-size: large;
    text-align: left;
    padding-left: 220px;
    float: left;
    margin: auto;
    overflow: auto;
    padding-top: 20px;
    width: 75%;
}
.series-text-iftmus {
    font-family:'Lora', serif;
    font-size: large;
    text-align: left;
    padding-left: 90px;
    float: left;
    margin: auto;
    overflow: auto;
    padding-top: 15px;
    width: 45%;
}

.series-text-axtoph {
    font-family:'Lora', serif;
    font-size: large;
    text-align: left;
    padding-left: 90px;
    float: left;
    margin: auto;
    overflow: auto;
    overflow-y: hidden;
    padding-top: 15px;
    width: 50%;
}

.series-text-alyssia {
    font-family:'Lora', serif;
    font-size: large;
    text-align: left;
    padding-left: 80px;
    float: left;
    margin: auto;
    overflow: auto;
    overflow-y: hidden;
    padding-top: 15px;
    width: 50%;
}

.series-text-book-axtoph {
    font-family:'Lora', serif;
    font-size: large;
    text-align: left;
    padding-left: 140px;
    float: left;
    margin: auto;
    overflow: auto;
    padding-top: 20px;
    width: 75%;
}

.series-text-book-shadow {
    font-family:'Lora', serif;
    font-size: large;
    text-align: left;
    padding-left: 180px;
    float: left;
    margin: auto;
    overflow: auto;
    padding-top: 20px;
    width: 75%;
}

.series-text-sholama {
    font-family:'Lora', serif;
    font-size: large;
    text-align: left;
    padding-left: 150px;
    float: left;
    margin: auto;
    overflow: auto;
    overflow-y: hidden;
    padding-top: 25px;
    width: 50%;
}

.series-text-wind {
    font-family:'Lora', serif;
    font-size: large;
    text-align: left;
    padding-left: 230px;
    float: left;
    margin: auto;
    overflow: auto;
    overflow-y: hidden;
    padding-top: 25px;
    width: 50%;
}

.series-text-book {
    font-family:'Lora', serif;
    font-size: large;
    text-align: left;
    padding-left: 90px;
    float: left;
    margin: auto;
    overflow: auto;
    overflow-y: hidden;
    padding-top: 20px;
    width: 87%;
}

.series-text-past {
    font-family:'Lora', serif;
    font-size: large;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 10px;
    float: left;
    margin: auto;
    overflow: auto;
    width: 50%;
}

.series-text-past-80 {
    font-family:'Lora', serif;
    font-size: large;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 10px;
    float: left;
    margin: auto;
    overflow: auto;
    width: 80%;
}

.series-text-mirror {
    font-family:'Lora', serif;
    font-size: large;
    text-align: left;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 10px;
    float: left;
    margin: auto;
    overflow: auto;
    width: 65%;
}

.series-text-tryst {
    font-family:'Lora', serif;
    font-size: large;
    text-align: left;
    padding-bottom:  10px;
    padding-left: 45px;
    float: left;
    margin: auto;
    overflow: auto;
    width: 85%;
}

.book-series-summary {
   font-family: Lora, serif;
   overflow: auto;
   margin-bottom: 10px;
   width: 70%;
}

.book-series-tree {
   font-family: Lora, serif;
   overflow: auto;
   margin-top: 50px;
}

.book-series-alyssia {
   font-family: Lora, serif;
   float: left;
   overflow: auto;
   margin-bottom: 10px;
   width: 100%;
}

.read-more {
    text-align: center;
    font-size: larger;
    font-style: italic;
    margin-bottom: 50px;
    clear: left;
}

.return-bottom {
    font-size: larger;
    font-style: italic;
    text-align: center;
    overflow: auto;
    margin-top: 20px;
}

.take-me-back {
    text-align: center;
    font-size: large;
    font-style: italic;
    bottom-margin: 50px;
    overflow: auto;
}

.poem {
    text-align: center;
    font-size: large;
    float: left;
    width: 75%;
}

.poem-wind {
    text-align: center;
    font-size: large;
    float: left;
    width: 100%;
}

.poem-river {
    text-align: center;
    font-size: large;
    float: left;
    width: 58%;
}

.poem-smell {
    text-align: center;
    font-size: large;
    float: left;
    padding-top: 20px;
    width: 100%;
}

.poem-hunt {
    text-align: center;
    font-size: large;
    float: left;
    width: 100%;
    padding-bottom: 30px;
}

.poem-future {
    text-align: center;
    font-size: large;
    float: left;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 90px;
}

.poem-future-page {
    text-align: center;
    font-size: large;
    float: left;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 190px;
}

.poem-present {
    text-align: center;
    font-size: large;
    width: 75%;
    padding-top: 10px;
    padding-left: 50px;
}

.poem-present-page {
    text-align: center;
    font-size: large;
    width: 70%;
    padding-top: 20px;
    /*padding-left: 10px;*/
}

.poem-present-last {
    text-align: center;
    font-size: large;
    width: 75%;
    padding-left: 255px;
}

.poem-mirror{
    text-align: center;
    font-size: large;
    float: left;
    width: 66%;
    padding-top: 20px;
}

.poem-tryst{
    text-align: center;
    font-size: large;
    float: left;
    width: 46%;
    padding-top: 40px;
}

.contact-text {
    font-family:'Lora', serif;
    font-size: large;
    width: 75%;
    text-align: left;
    float: left;
    padding-top: 10px;
    padding-left: 190px;
}

.credit {
    font-family: "vivaldi";
    font-size: larger;
    text-align: right;
    padding-right: 430px;
}

